livekit
livekit-agents[openai,turn-detector,silero,elevenlabs]>=1.2.2
livekit-plugins-noise-cancellation>=0.2.5
livekit-plugins-elevenlabs
decrypt
python-dotenv
fastapi
uvicorn
httpx
ipython
aiohttp>=3.12
jinja2>=3.1.0